option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.21
packages:
   yum:
      git: []
      gcc: []
      gcc-c++: []
      make: []
      openssl-devel: []
container_commands:
   00-install-grunt:
      command: "/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin/npm install -g grunt-cli"
   10_pre_install_sqlite3:
      command: "/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin/npm install sqlite3@2.1.16 --build-from-source"
      cwd: "/tmp/deployment/application"
      env:
          HOME: "/root"
          PATH: "/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin"
   11_install_ghost_dependency:
      command: "/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin/npm install"
      cwd: "/tmp/deployment/application"
   12_grunt_ghost:
      command: "/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin/grunt prod"
      cwd: "/tmp/deployment/application"