option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.21
  - option_name: DB_HOST
    value: blogthucdon24instance.cljkx7d1qnff.ap-southeast-1.rds.amazonaws.com
  - option_name: DB_USER
    value: muzix
  - option_name: DB_PWD
    value: thucdon24
  - option_name: DB_NAME
    value: blogthucdon24db
  - option_name: AWS_ACCESS_ID
    value: AKIAJ4BLOM73M4B3BDGQ
  - option_name: AWS_ACCESS_SECRET
    value: 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
  - option_name: AWS_BUCKET_NAME
    value: blogthucdon24bucket
  - option_name: AWS_BUCKET_REGION
    value: ap-southeast-1
packages:
   yum:
      git: []
      gcc: []
      gcc-c++: []
      make: []
      openssl-devel: []
container_commands:
   00-install-grunt:
      command: "npm install -g grunt-cli"
      env:
          HOME: "/root"
          PATH: "/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin"
   10_pre_install_sqlite3:
      command: "npm install sqlite3@3.0.4 --build-from-source"
      cwd: "/tmp/deployment/application"
      env:
          HOME: "/root"
          PATH: "/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin"
   11_install_ghost_dependency:
      command: "npm install"
      cwd: "/tmp/deployment/application"
      env:
          HOME: "/root"
          PATH: "/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin"
   12_grunt_ghost:
      command: "grunt init --force"
      cwd: "/tmp/deployment/application"
      env:
          HOME: "/root"
          PATH: "/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin"